*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
border: 2px solid black;
width: 300px;
height: 300px;
padding: 10px;
margin: 10px;
}
.box1{
background-color: red;    
}
.box2{
background-color: green;
position: relative;
top: 50px;
z-index: 1;
}
.box3{
background-color: blue;
}
.box4{
background-color: yellow;
position: fixed;
}
.box5{
background-color: purple;
position: absolute;
top: 0px;
}
.parent{
border: 2px solid black;
padding: 40px;
margin: 40px;
}

