:root{
    --color:blue;
    --backgroundColour:orange;
    --opacity:0.2;
    --defPadding:24px;
    --backgroundColour2:black;

}



ul{
    display: flex;
   
}
ul li{
    list-style-type: none;
     padding: var(--defPadding);
}
li{
    color: var(--color);
    background-color: orange;
}
div{
     background-color: var(--backgroundColour2,blue /*if not found */);
    color: var(--color);
    padding: var(--defPadding);
    /* opacity: var(--opacity); */
}