.box {
    width: 200px;
    height: 100px;
    overflow: auto;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    text-overflow: clip;

    border: 2px solid #000;
}