.container{
    width: 50vw;
    height: 60vh;
    border: 2px solid black;
    background-color: blue;
}
.box{
    width: 5vw;
    height: 5vh;
    background-color: yellow;
    animation: asadAnimation 3s 5s 5 ease-in-out;  
}
@keyframes asadAnimation{
    from{

    }
    to{
        transform: translateX(500px);
    }
}